{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('sb_budget_new') }}" class="btn btn-default">{% trans %}budget.new{% endtrans %}</a>
        </div>
    </div>

    <div style="height:20px;"></div>

    {% if budgets|length > 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans %}budget.name{% endtrans %}</th>
                    <th>{% trans %}budget.bills{% endtrans %}</th>
                    <th>{% trans %}budget.actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for budget in budgets %}
                    <tr>
                        <td><a href="{{ path('sb_budget_show', { 'id': budget.id }) }}" data-toggle="tooltip" data-placement="right" title="{{ budget.description }}">{{ budget.name }}</a></td>
                        <td>{{ budget.bills|length }}</td>
                        <td>{{ include('budget/buttons.html.twig', { 'budget': budget }) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">{% trans %}budget.none{% endtrans %}</div>
    {% endif %}

{% endblock body %}

{% block js %}
    (function() {
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="tooltip"]').css('cursor', 'pointer');
    })();
{% endblock js %}