{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <h2>{{ budget.name }}</h2>
            <p>{{ budget.description }}</p>
        </div>
        <div class="col-md-4 text-right">
            {{ include('budget/buttons.html.twig', { 'budget': budget }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('sb_bill_new', { 'budget_id': budget.id }) }}" class="btn btn-default">{% trans %}bill.new{% endtrans %}</a>
            <a href="{{ path('sb_invitation_new', { 'budget_id': budget.id }) }}" class="btn btn-default">{% trans %}invitation.new{% endtrans %}</a>
        </div>
    </div>

    <div style="height:20px;"></div>

    {{ include('invitation/index.html.twig', { 'budget': budget, 'invitations': budget.invitations }) }}

    {{ include('bill/index.html.twig', { 'budget': budget, 'bills': budget.bills }) }}

{% endblock body %}

{% block js %}
{% endblock js %}