<ul class="nav nav-tabs">
    <li role="presentation" class="{% if app.request.get('_route') == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}">{% trans %}menu.home{% endtrans %}</a></li>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li role="presentation" class="{% if app.request.get('_route') == 'fos_user_profile_show' %}active{% endif %}"><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
        <li role="presentation" class="{% if app.request.get('_route') == 'fos_user_security_logout' %}active{% endif %}"><a href="{{ path('fos_user_security_logout') }}">{% trans %}menu.logout{% endtrans %}</a></li>
    {% else %}
        <li role="presentation" class="{% if app.request.get('_route') == 'fos_user_security_login' %}active{% endif %}"><a href="{{ path('fos_user_security_login') }}">{% trans %}menu.login{% endtrans %}</a></li>
        <li role="presentation" class="{% if app.request.get('_route') == 'fos_user_registration_register' %}active{% endif %}"><a href="{{ path('fos_user_registration_register') }}">{% trans %}menu.signup{% endtrans %}</a></li>
    {% endif %}
</ul>